body  {
	background-image: url(../images/old_moon/old_moon.png);
	height: 100%;
	margin: 0;
	padding: 0;
}

p {
	font-size: 16px;
    line-height: 26px;
    text-align: justify;
}

form {
	margin-left: 3%;
}


.navbar-brand {
    color: white;
    font-weight: 400;
    font-size: 2em;
    text-decoration: none;
    width: 320px;
}


.col-md-5 a:hover {
	color: white;
}

.label {
	color: #3e3f3a;
	font-size: 1.5em;
	font-weight: 300;
	line-height: 36px;
}


.panel-body ul {
	list-style: none;

}

.panel-body img {
  float: left;
  margin-top: 8px;
  margin-right: 10px;
  margin-left: 10px;
}

.panel-body img:last-child {
  margin-left: 0;

}

.footer {
  height: 70px;
  background-color: #333;	
  color: white;
  font-size: 10px; 
  border-top: 2px solid #dbdbdb;
}

